body {
    font-family: 'K2D', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

#search {
    input {
        width: 500px;
    }
}

table {
    border-collapse: collapse;
    td, th {
        border: 1px solid black;
        padding: 5px;
    }
    tbody tr {
        height: 55px;
        &:hover {
            cursor: pointer;
            box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
        }
    }
    th:nth-child(1) { width: 50px; }
    th:nth-child(2) { width: 300px; }
    th:nth-child(3) { width: 150px; }
    th:nth-child(4) { width: 120px; }
}

button {
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    width: 30px;
    cursor: pointer;
    font-size: 14px;
    &.currPage {
        background-color: black;
        color: white;
    }
}

#details {
    position: absolute;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    line-height: 2em;
    z-index: 10;
    
    left: 50%;
    top: 90px;
    transform: translate(-50%, 0);

    display: flex;

    main {
        padding: 20px;
        min-width: 320px;
        span {
            font-size: 90%;
            border-top: 1px dashed black;
            width: 100%;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
        }
    }
    select {
        &#endDate option:first-child {display: none;}
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 2px;
    }
    canvas {
        border: 1px solid black;
    }
}

.table {
    display: flex;
    flex-direction: column;
    .pagination {
        align-self: center;
        margin-top: 10px;
        button:first-child, button:last-child {
            margin: 0 5px;
        }
    }
}

@media(max-width: 630px) {
    body {
        font-size: 85%;
    }
    #search input {
        width: 70vw;
        display: inline-block;
    }

}

@media(max-width: 870px) {

    #details {
        flex-direction: column;
        top: 10px;
        
        canvas {
            width: 500px;
            height: 400px;
        }
    }
}

@media(max-width: 505px) {

    #details {
        flex-direction: column;
        top: 10px;
        
        canvas {
            width: 400px;
            height: 320px;
        }
    }
}


@media(max-width: 380px) {
    #details canvas {
        width: 350px;
        height: 300px;
    }
    .pagination {
        display: flex;
        button{
            transform: scale(0.8);
        }
    }
}