body {
    font-family: 'K2D', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
}

#search {
    input {
        width: 500px;
    }
}

table {
    border-collapse: collapse;
    td, th {
        border: 1px solid black;
        padding: 5px;
    }
    tbody tr {
        &:hover {
            cursor: pointer;
            box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
        }
    }
}

button {
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    width: 30px;
    cursor: pointer;
    &.currPage {
        background-color: black;
        color: white;
    }
}

#details {
    position: absolute;
    padding: 20px;
    width: 80vw;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    line-height: 2em;
    select {
        &#endDate option:first-child {display: none;}
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 2px;
    }

    main, canvas {
        float: left;
    }
    canvas {
        border: 1px solid black;
    }
}